# ========================
# .NET
# ========================
bin/
obj/
.vs/

# ========================
# Angular
# ========================
node_modules/
dist/
.angular/
.env

# ========================
# OS / System Files
# ========================
Thumbs.db
.DS_Store